In [23]:
import requests
import json
import pandas as pd

headers= {
'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'
      } 

#강남구 대치동
url = "https://m.land.naver.com/cluster/ajax/complexList?rletTpCd=APT&tradTpCd=A1&z=15&lat=37.4996377&lon=127.057867&btm=37.4902571&lft=127.0420741&top=37.5090171&rgt=127.0736598&showR0=&totCnt=66&cortarNo=1168010600"
res = requests.get(url, headers=headers)

In [24]:
#크롤링한 데이터를 Json형태로 변환
data = json.loads(res.text)
items = data['result']

In [45]:
#변환된 Json데이터를 Pandas 도표화
df = pd.DataFrame.from_dict(items)
df = df.rename(columns={'hscpNm':'단지명','dealPrcMin':'매매최저가','dealPrcMax':'매매최고가',
                        'leasePrcMin':'전세최저가','leasePrcMax':'전세최고가','useAprvYmd':'승인날짜'})

#불필요한 문자들 정규식으로 삭제
df["매매최저가"].replace("[a-z<='_>/]", "", regex=True, inplace = True) 
df["매매최고가"].replace("[a-z<='_>/]", "", regex=True, inplace = True)
df["전세최저가"].replace("[a-z<='_>/]", "", regex=True, inplace = True) 
df["전세최고가"].replace("[a-z<='_>/]", "", regex=True, inplace = True)

P_list = df[['단지명','전세최저가','전세최고가','승인날짜','매매최저가','매매최고가']]
P_list

,단지명,전세최저가,전세최고가,승인날짜,매매최저가,매매최고가
0,"한보미도맨션1,2차",11 억,25 억,1983.11.28.,27 억,58 억
1,래미안대치팰리스1단지,19 억,33 억,2015.09.22.,"32 억 7,000","51 억 5,000"
2,대치아이파크,13 억,31 억,2008.06.03.,21 억,54 억
3,대치삼성1차,"9 억 5,000",21 억,2000.07.31.,"19 억 5,000",35 억
4,동부센트레빌,25 억,31 억,2005.01.28.,48 억,55 억
5,"선경1,2차",12 억,23 억,1983.12.12.,"31 억 5,000",55 억
6,대치현대,"8 억 2,000",22 억,1999.06.14.,18 억,32 억
7,개포우성1차,12 억,25 억,1983.12.17.,"31 억 5,000",50 억
8,르엘대치,"13 억 3,000",21 억,2021.09.,"21 억 2,000","26 억 5,000"
9,개포우성2차,12 억,25 억,1984.12.15.,41 억,57 억
10,래미안대치팰리스2단지,20 억,33 억,2015.09.22.,"32 억 5,000",56 억
11,테헤란로대우아이빌(주상복합),"3 억 2,000","7 억 5,000",2004.04.29.,"3 억 4,000",10 억
12,대치SK뷰,21 억,25 억,2017.06.20.,34 억,43 억
13,래미안대치하이스턴,17 억,20 억,2014.02.27.,30 억,40 억
14,현대,NaN,NaN,1990.04.19.,"18 억 5,000","18 억 5,000"
15,포스코더샵,23 억,25 억,2004.09.30.,33 억,"39 억 5,000"
16,대치롯데캐슬리베,21 억,21 억,2008.02.22.,"36 억 7,000",40 억
17,롯데캐슬,"15 억 7,000",18 억,2002.08.29.,24 억,30 억
18,아름빌,"2 억 3,000","2 억 7,000",2003.06.30.,"3 억 5,000",12 억
19,선릉역대우아이빌5차(주상복합),2 억,"2 억 7,600",2004.04.28.,"2 억 3,000","4 억 2,000"