In [30]:
import requests

url = "https://m.land.naver.com/cluster/ajax/complexList?rletTpCd=APT&tradTpCd=A1&z=14&lat=37.482968&lon=127.0634&btm=37.4638949&lft=127.0319001&top=37.5020363&rgt=127.0948999&showR0=&totCnt=36&cortarNo=1168010300&isOnlyIsale=false"
res= requests.get(url, headers=headers)

#headers미 지정시 보안때문에 크롤링 불가 
headers= {
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'
} 

import json
data = json.loads(res.text)
items = data['result']

import pandas as pd
df = pd.DataFrame.from_dict(items)
df.head(100)

,hscpNo,hscpNm,hscpTypeCd,hscpTypeNm,totDongCnt,totHsehCnt,genHsehCnt,useAprvYmd,repImgUrl,dealCnt,...,maxSpc,dealPrcMin,dealPrcMax,leasePrcMin,leasePrcMax,isalePrcMin,isalePrcMax,isaleNotifSeq,isaleScheLabel,isaleScheLabelPre
0,119219,개포래미안포레스트,A01,아파트,31,2296,0,2020.09.28.,/20211101_56/land_naver_1635733270480Lj3OE_JPE...,188,...,174.19,"16<em class='txt_unit'>억</em> 7,000",45<em class='txt_unit'>억</em>,9<em class='txt_unit'>억</em>,24<em class='txt_unit'>억</em>,0,0,0,,
1,483,대치2단지,A01,아파트,11,1758,0,1992.10.14.,/20170213_250/apt_realimage_1486961113801AkQeB...,79,...,67.75,"9<em class='txt_unit'>억</em> 5,000",17<em class='txt_unit'>억</em>,3<em class='txt_unit'>억</em> 800,6<em class='txt_unit'>억</em>,0,0,0,,
2,112228,래미안블레스티지,A01,아파트,23,1957,0,2019.02.26.,NaN,131,...,249.51,17<em class='txt_unit'>억</em>,50<em class='txt_unit'>억</em>,9<em class='txt_unit'>억</em>,30<em class='txt_unit'>억</em>,0,0,0,,
3,113151,디에이치아너힐즈,A01,아파트,23,1320,0,2019.08.29.,/20200122_46/apt_realimage_1579669920794isxlw_...,82,...,202.81,18<em class='txt_unit'>억</em>,53<em class='txt_unit'>억</em>,"11<em class='txt_unit'>억</em> 8,000",27<em class='txt_unit'>억</em>,0,0,0,,
4,419,대청,A01,아파트,6,822,0,1992.10.14.,/20170213_110/apt_realimage_1486961702079cwEtK...,24,...,81.67,12<em class='txt_unit'>억</em>,18<em class='txt_unit'>억</em>,"3<em class='txt_unit'>억</em> 3,000",7<em class='txt_unit'>억</em>,0,0,0,,
5,28,경남,A01,아파트,9,678,0,1984.03.08.,/20170104_84/apt_realimage_1483510201487rNPKY_...,83,...,198.33,24<em class='txt_unit'>억</em>,40<em class='txt_unit'>억</em>,12<em class='txt_unit'>억</em>,15<em class='txt_unit'>억</em>,0,0,0,,
6,8928,개포자이,A01,아파트,4,212,0,2004.06.17.,/20170213_13/apt_realimage_14869626659704f4ci_...,11,...,204.52,28<em class='txt_unit'>억</em>,35<em class='txt_unit'>억</em>,18<em class='txt_unit'>억</em>,18<em class='txt_unit'>억</em>,0,0,0,,
7,1321,현대2차,A01,아파트,13,558,0,1986.01.31.,/20170112_53/apt_realimage_148418942449925pFE_...,23,...,195.17,27<em class='txt_unit'>억</em>,"40<em class='txt_unit'>억</em> 5,000","8<em class='txt_unit'>억</em> 5,000",15<em class='txt_unit'>억</em>,0,0,0,,
8,881,더샵트리에,A01,아파트,2,232,0,2021.12.,/20210825_191/auction_sample_img_1629897601034...,19,...,135.57,"28<em class='txt_unit'>억</em> 5,000","32<em class='txt_unit'>억</em> 2,000","15<em class='txt_unit'>억</em> 9,000",17<em class='txt_unit'>억</em>,0,0,0,,
9,667,우성3차,A01,아파트,5,405,0,1984.12.31.,/20170206_157/apt_realimage_1486357212296M7GR0...,33,...,182.45,27<em class='txt_unit'>억</em>,40<em class='txt_unit'>억</em>,"8<em class='txt_unit'>억</em> 5,000",16<em class='txt_unit'>억</em>,0,0,0,,
10,770,우성6차,A01,아파트,8,270,0,1987.11.21.,/20170206_154/apt_realimage_1486357216205B9h8y...,13,...,86.52,18<em class='txt_unit'>억</em>,23<em class='txt_unit'>억</em>,5<em class='txt_unit'>억</em>,"5<em class='txt_unit'>억</em> 6,000",0,0,0,,
11,1317,현대1차,A01,아파트,6,416,0,1984.04.20.,/20170206_268/apt_realimage_1486357637067dJYsa...,42,...,193.8,27<em class='txt_unit'>억</em>,39<em class='txt_unit'>억</em>,10<em class='txt_unit'>억</em>,14<em class='txt_unit'>억</em>,0,0,0,,
12,818,우성8차,A01,아파트,3,261,0,1987.09.21.,/20170210_291/apt_realimage_14866923015469QBWk...,12,...,109.35,24<em class='txt_unit'>억</em>,29<em class='txt_unit'>억</em>,8<em class='txt_unit'>억</em>,10<em class='txt_unit'>억</em>,0,0,0,,
13,1327,현대3차,A01,아파트,5,198,0,1986.03.31.,/20170213_256/apt_realimage_14869629153430NksX...,5,...,198.26,29<em class='txt_unit'>억</em>,40<em class='txt_unit'>억</em>,"9<em class='txt_unit'>억</em> 5,000",15<em class='txt_unit'>억</em>,0,0,0,,
14,107513,개포상지리츠빌,A01,아파트,1,18,0,2003.03.28.,NaN,3,...,240.58,36<em class='txt_unit'>억</em>,89<em class='txt_unit'>억</em>,49<em class='txt_unit'>억</em>,49<em class='txt_unit'>억</em>,0,0,0,,
15,146479,YH빌리지,A01,아파트,1,16,0,2017.09.08.,NaN,1,...,36.32,"3<em class='txt_unit'>억</em> 7,000","3<em class='txt_unit'>억</em> 7,000",NaN,NaN,0,0,0,,
16,10329,개포현대2차(220동),A01,아파트,1,54,0,1988.09.02.,/20110421_199/land_system_1303378057840l5xk3_J...,0,...,98.54,NaN,NaN,"7<em class='txt_unit'>억</em> 7,000",9<em class='txt_unit'>억</em>,0,0,0,,
17,103385,개포현대(200동),A01,아파트,1,72,0,1986.07.24.,NaN,0,...,101.55,NaN,NaN,"7<em class='txt_unit'>억</em> 5,000",9<em class='txt_unit'>억</em>,0,0,0,,
18,8967,개포현대5차,A01,아파트,1,18,0,1994.02.22.,NaN,0,...,148.38,NaN,NaN,"12<em class='txt_unit'>억</em> 8,000","12<em class='txt_unit'>억</em> 8,000",0,0,0,,
19,10863,개포현대6차,A01,아파트,1,19,0,1993.12.17.,NaN,0,...,154.77,NaN,NaN,9<em class='txt_unit'>억</em>,10<em class='txt_unit'>억</em>,0,0,0,,