In [197]:
import requests
import json
import pandas as pd

headers= {
'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'
      }

In [198]:
#강남구 대치동
url = "https://m.land.naver.com/cluster/ajax/complexList?rletTpCd=APT&tradTpCd=A1&z=15&lat=37.4996377&lon=127.057867&btm=37.4902571&lft=127.0420741&top=37.5090171&rgt=127.0736598&showR0=&totCnt=66&cortarNo=1168010600"
res= requests.get(url, headers=headers)

In [203]:
#크롤링한 데이터를 Json형태로 변환
data = json.loads(res.text)
items = data['result']
items[0]

{'hscpNo': '105',
 'hscpNm': '한보미도맨션1,2차',
 'hscpTypeCd': 'A01',
 'hscpTypeNm': '아파트',
 'totDongCnt': 21,
 'totHsehCnt': 2436,
 'genHsehCnt': 0,
 'useAprvYmd': '1983.11.28.',
 'repImgUrl': '/20170103_92/apt_realimage_1483411501693c0xwm_JPEG/c066665dbff2e0f20f4c1280f5ead1e3.jpg',
 'dealCnt': 160,
 'leaseCnt': 149,
 'rentCnt': 103,
 'strmRentCnt': 1,
 'totalAtclCnt': 413,
 'minSpc': '113.31',
 'maxSpc': '220.92',
 'dealPrcMin': "27<em class='txt_unit'>억</em> 3,000",
 'dealPrcMax': "58<em class='txt_unit'>억</em>",
 'leasePrcMin': "11<em class='txt_unit'>억</em>",
 'leasePrcMax': "25<em class='txt_unit'>억</em>",
 'isalePrcMin': '0',
 'isalePrcMax': '0',
 'isaleNotifSeq': '0',
 'isaleScheLabel': '',
 'isaleScheLabelPre': ''}

In [207]:
#변환된 Json데이터를 Pandas 도표화
df = pd.DataFrame.from_dict(items)
df = df.rename(columns={'hscpNm':'단지명','dealPrcMin': '매매최저가','dealPrcMax': '매매최고가','useAprvYmd': '승인날짜'})
df.columns

Index(['hscpNo', '단지명', 'hscpTypeCd', 'hscpTypeNm', 'totDongCnt', 'totHsehCnt',
       'genHsehCnt', '승인날짜', 'repImgUrl', 'dealCnt', 'leaseCnt', 'rentCnt',
       'strmRentCnt', 'totalAtclCnt', 'minSpc', 'maxSpc', '매매최저가', '매매최고가',
       'leasePrcMin', 'leasePrcMax', 'isalePrcMin', 'isalePrcMax',
       'isaleNotifSeq', 'isaleScheLabel', 'isaleScheLabelPre'],
      dtype='object')

In [212]:
#원하는 컴럼만 추출
Price_list = df[['단지명','승인날짜','매매최저가','매매최고가']]
Price_list

,단지명,승인날짜,매매최저가,매매최고가
0,"한보미도맨션1,2차",1983.11.28.,"27<em class='txt_unit'>억</em> 3,000",58<em class='txt_unit'>억</em>
1,래미안대치팰리스1단지,2015.09.22.,"32<em class='txt_unit'>억</em> 7,000","51<em class='txt_unit'>억</em> 5,000"
2,대치아이파크,2008.06.03.,"21<em class='txt_unit'>억</em> 9,000",54<em class='txt_unit'>억</em>
3,동부센트레빌,2005.01.28.,48<em class='txt_unit'>억</em>,55<em class='txt_unit'>억</em>
4,대치삼성1차,2000.07.31.,"19<em class='txt_unit'>억</em> 5,000",35<em class='txt_unit'>억</em>
5,"선경1,2차",1983.12.12.,"31<em class='txt_unit'>억</em> 5,000",55<em class='txt_unit'>억</em>
6,개포우성1차,1983.12.17.,"31<em class='txt_unit'>억</em> 5,000",50<em class='txt_unit'>억</em>
7,대치현대,1999.06.14.,18<em class='txt_unit'>억</em>,32<em class='txt_unit'>억</em>
8,르엘대치,2021.09.,"21<em class='txt_unit'>억</em> 1,860","26<em class='txt_unit'>억</em> 5,000"
9,개포우성2차,1984.12.15.,41<em class='txt_unit'>억</em>,57<em class='txt_unit'>억</em>
10,래미안대치팰리스2단지,2015.09.22.,"32<em class='txt_unit'>억</em> 5,000",56<em class='txt_unit'>억</em>
11,대치SK뷰,2017.06.20.,33<em class='txt_unit'>억</em>,43<em class='txt_unit'>억</em>
12,테헤란로대우아이빌(주상복합),2004.04.29.,"3<em class='txt_unit'>억</em> 4,000",10<em class='txt_unit'>억</em>
13,래미안대치하이스턴,2014.02.27.,30<em class='txt_unit'>억</em>,40<em class='txt_unit'>억</em>
14,대치롯데캐슬리베,2008.02.22.,"36<em class='txt_unit'>억</em> 7,000",40<em class='txt_unit'>억</em>
15,포스코더샵,2004.09.30.,33<em class='txt_unit'>억</em>,"39<em class='txt_unit'>억</em> 5,000"
16,현대,1990.04.19.,19<em class='txt_unit'>억</em>,19<em class='txt_unit'>억</em>
17,롯데캐슬,2002.08.29.,24<em class='txt_unit'>억</em>,30<em class='txt_unit'>억</em>
18,아름빌,2003.06.30.,"3<em class='txt_unit'>억</em> 5,000","11<em class='txt_unit'>억</em> 5,000"
19,선릉역대우아이빌5차(주상복합),2004.04.28.,"2<em class='txt_unit'>억</em> 3,000","2<em class='txt_unit'>억</em> 7,000"